<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="photoDetails.url" width="100%" />
    <ion-card-header>
      <ion-card-subtitle>from {{ photoDetails.author}}</ion-card-subtitle>
      <ion-card-title>{{ photoDetails.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ photoDetails.description }} </ion-card-content>

    <!-- <ion-button (click)="displayImage()" expand="full">Add to favorite</ion-button>
    <ion-item *ngFor="let item of savedImage; let i = index">
      <p>
        {{ item.title }} picture successully added to your favorite homepage
      </p>
      <ion-button slot="end" color="danger" (click)="deleteImage(i)">
        Delete
      </ion-button>
    </ion-item> -->
  </ion-card>
  <ion-button *ngIf="!addedToFav" expand="full" (click)="addtoFavorites()">Add to favorites</ion-button>
  <ion-button *ngIf="addedToFav" expand="full" (click)="removeFromFav(photoDetails.id)" color="danger">Delete from
    favorites
  </ion-button>

  <ion-button expand="full" routerLink="/tabs/tab2">Return to photo list</ion-button>
</ion-content>