<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="photoDetails.url" width="100%" />
    <ion-card-header>
      <ion-card-subtitle>from {{ photoDetails.author}}</ion-card-subtitle>
      <ion-card-title>{{ photoDetails.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ photoDetails.description }} </ion-card-content>

    <ion-button (click)="displayImage()" expand="full">Add to favorite</ion-button>
    <ion-list>
      <ion-item *ngFor="let item of savedImage">
        <ion-img src="{{ item.url }}"></ion-img>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button expand="full" routerLink="/tabs/tab2">Return to photo list</ion-button>
</ion-content>